@using BusinessServices.Services
@using DTO.LifePoint
@inject ILifePointService _lifePointService
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigator

<h2>@_lifePoint.Caption</h2>
<p>On @_lifePoint.Date with @_lifePoint.CreatedBy.Name</p>
<p>@_lifePoint.Description</p>

@if (_imageUri != null)
{
    <img src="@_imageUri" alt="The image"/>
}

<button @onclick="OnDeleteClicked">Delete</button>

@code {

    private ExistingLifePoint _lifePoint = null!; // is initialized on component construction
    private IJSObjectReference _lifePointDetailModule = null!; // is initialized on component construction
    private Uri? _imageUri;

    [Parameter]
    public string Id { get; set; } = null!; // is initialized on component construction

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Id)) { return; }

        _lifePoint = await _lifePointService.GetLifePointAsync(Guid.Parse(Id));
        if (_lifePoint.ImageId != null) { _imageUri = ConstructImageUri(_lifePoint.ImageId.Value); }

        await LoadLifePointDetailModuleAsync();

        await base.OnInitializedAsync();
    }

    private Uri ConstructImageUri(Guid imageId) => new(new Uri(_navigator.BaseUri), $"api/images/{_lifePoint.CreatedBy.Id}/{imageId.ToString()}");

    private async void OnDeleteClicked()
    {
        if (string.IsNullOrWhiteSpace(Id)) { return; }

        await _lifePointService.DeleteLifePointAsync(Guid.Parse(Id));
        await RemoveMarkerAsync();
    }

    private async Task RemoveMarkerAsync() => await _lifePointDetailModule.InvokeVoidAsync("removeMarkerOfLifePoint");

    private async Task LoadLifePointDetailModuleAsync() => _lifePointDetailModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/LifePointDetail.razor.js");

}