@using Logging.Extensions
@using BusinessServices.Services
@using DTO.LifePoint
@using Microsoft.Extensions.Logging
@inject ILifePointService LifePointService
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigator
@inject IStringLocalizer<Main> Loc
@inject ILogger<LifePointDetail> Logger

<div class="card">
    @if (_imageUri != null)
    {
        <img src="@_imageUri" class="card-img-top" alt="The image">
    }
    <div class="card-body">
        <h5 class="card-title">@_lifePoint.Caption</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Loc["On"] @_lifePoint.Date @Loc["With"] @_lifePoint.CreatedBy.Name</h6>
        <p class="card-text" style="white-space: pre-line">@_lifePoint.Description</p>
        <button class="btn btn-outline-secondary" @onclick="OnDeleteClicked">@Loc["Delete"]</button>
    </div>
</div>

@code {

    private ExistingLifePoint _lifePoint = null!; // is initialized on component construction
    private IJSObjectReference _lifePointDetailModule = null!; // is initialized on component construction
    private Uri? _imageUri;

    [Parameter]
    public string Id { get; set; } = null!; // is initialized on component construction

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        Logger.MethodStarted();

        _lifePoint = await LifePointService.GetLifePointAsync(Guid.Parse(Id));
        if (_lifePoint.ImageId != null) { _imageUri = ConstructImageUri(_lifePoint.ImageId.Value); }

        await LoadLifePointDetailModuleAsync();

        await base.OnInitializedAsync();

        Logger.MethodFinished();
    }

    private Uri ConstructImageUri(Guid imageId) => new(new Uri(Navigator.BaseUri), $"api/images/{_lifePoint.CreatedBy.Id}/{imageId.ToString()}");

    private async void OnDeleteClicked()
    {
        Logger.MethodStarted();

        await LifePointService.DeleteLifePointAsync(Guid.Parse(Id));
        await RemoveMarkerAsync();

        Logger.MethodFinished();
    }

    private async Task RemoveMarkerAsync() => await _lifePointDetailModule.InvokeVoidAsync("removeMarkerOfLifePoint", Id);

    private async Task LoadLifePointDetailModuleAsync() => _lifePointDetailModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/LifePointDetail.razor.js");

}