@using BusinessServices.Services
@using Microsoft.Extensions.Logging
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject ILifePointService LifePointService
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigator
@inject IStringLocalizer<Main> Loc
@inject ILogger<LifePointDetail> Logger

<div class="card">
    @if (_imageUri != null)
    {
        <img src="@_imageUri" alt="The image" @onload="UpdatePopupAsync"> // don't apply class or style - it will break the popup sizing 
    }
    <div class="card-body">
        <h5 class="card-title">@_lifePoint.Caption</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Loc["On"] @_lifePoint.Date @Loc["With"] @_lifePoint.CreatedBy.Name</h6>
        @if (_lifePoint.Description != null)
        {
            <p class="card-text" style="white-space: pre-line">@_lifePoint.Description</p>
        }
        @if (bool.TryParse(Configuration["CanDelete"], out var canDelete) && canDelete)
        {
            <button class="btn btn-outline-secondary" @onclick="OnDeleteClicked">@Loc["Delete"]</button>
        }
    </div>
</div>