@using BusinessServices.Services
@using Persistence
@using WebApp.Services
@inject ILifePointService LifePointService
@inject IJSRuntime JsRuntime
@inject IUserService UserService
@inject INewLifePointDateService NewLifePointDateService
@inject IStringLocalizer<Main> Loc
@inject ILogger<LifePointDetail> Logger

@if (_showModalSpinner)
{
    <button id="spinner" class="btn btn-outline-secondary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        @Loc["Saving"]...
    </button>
}
else
{
    @if (ImageTooBig)
    {
        <div class="alert alert-warning" role="alert">
            @Loc["ImageTooBig", MaxAllowedFileSizeInMegaBytes]
        </div>
    }

    @if (InputIsNoImage)
    {
        <div class="alert alert-warning" role="alert">
            @Loc["InputIsNoImage"]
        </div>
    }

    <EditForm Model="@_newLifePoint" OnValidSubmit="@CreateNewLifePointAsync">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="input-group mb-3">
            <span class="input-group-text" id="caption">@Loc["Caption"]</span>
            <InputText class="form-control" id="input-caption" aria-describedby="caption" @bind-Value="_newLifePoint.Caption"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="date">@Loc["Date"]</span>
            <InputDate class="form-control" id="input-date" aria-describedby="date" @bind-Value="_newLifePoint.Date" min="1980-01-01"
                       max="@DateTime.Now.AddYears(10).ToString("yyyy-MM-dd")"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="description">@Loc["Description"]</span>
            <InputTextArea class="form-control" id="input-description" aria-describedby="description" @bind-Value="_newLifePoint.Description"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="image">@Loc["Image"]</span>
            <InputFile class="form-control" id="input-file" aria-describedby="image" OnChange="@LoadImage" accept=".jpg,.jpeg,.png"/>
        </div>
        <button class="btn btn-outline-secondary" type="submit">@Loc["Save"]</button>
    </EditForm>
}